<div class="card border-dark mb-3">
  <div class="card">
    <div class="card-body" style="background-color: #CCFFCC; width: 600px; height: 70px;">
      <div class="col-md">
	    <p> Name: <%= athlet.name %></p>
	    <p>Result: <%= athlet.result %></p>
      </div>
    </div>
  </div>
</div>